In [32]:
import pandas as pd
ed_wiki = pd.read_table("2016_editor_wiki.tsv")
ed_wiki.head()

                 user_name         wiki site_group  edits
0                      NaN       plwiki  wikipedia      6
1  ! ! ! abendsonnenschein       dewiki  wikipedia      3
2               ! Bikkit !  commonswiki    commons     47
3               ! Bikkit !       dewiki  wikipedia   2200
4               ! Bikkit !       enwiki  wikipedia    278

In [34]:
f = lambda row: row["edits"] if row["wiki"] != "wikidatawiki" else row["edits"] * 0.1
ed_wiki["adj_edits"] = ed_wiki.apply(f, axis = 1)
ed_wiki[ed_wiki["wiki"] == "wikidatawiki"].head()

       user_name          wiki site_group  edits  adj_edits
6     ! Bikkit !  wikidatawiki   wikidata      7        0.7
35  !KrzysiekBu!  wikidatawiki   wikidata    106       10.6
50       !Silent  wikidatawiki   wikidata   1395      139.5
79        !болит  wikidatawiki   wikidata    839       83.9
97   Coreytaylor  wikidatawiki   wikidata      5        0.5

In [18]:
grouped = ed_wiki.groupby(["user_name", "site_group"]).sum()
grouped.head()

                                    edits  adj_edits
user_name               site_group
! ! ! abendsonnenschein wikipedia       3        3.0
! Bikkit !              commons        47       47.0
                        wikidata        7        0.7
                        wikipedia    2479     2479.0
! Biswas Amitava !      wikipedia       2        2.0

In [59]:
a = grouped[:1000].reset_index()

a_g = a.groupby("user_name")

for name, group in a_g:
    if group["site_group"].any("wikipedia"):
        print("true")

ValueError: No axis named wikipedia for object type <class 'pandas.core.series.Series'>